{{define "header"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MOSi demo</title>
    <link rel="STYLESHEET" type="text/css" href="/static/css/main.css?{{template "version"}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>

    <script src="/static/js/utils.js?{{template "version"}}"></script>
    <script src="/static/js/main.js?{{template "version"}}"></script>

    <!-- moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div id="navMenu" class="container-fluid">
        {{if not .hideNav}}
        <div class="navbar-header">
            <a class="navbar-brand" href="/welcome">
                <span class="helper"></span><img alt="MOSi" src="/static/img/mosi_logo_120.png" height=25>
            </a>
        </div>
        {{end}}
        <div id="dynamicMenu"></div>
    </div>
</nav>
{{template "commonLangStr" .}}
{{end}}
{{define "footer"}}
</body>
</html>
{{end}}