{{define "commonLangStr"}}
<div class="hid">
    <span id="strBtnConfirm">{{translate "tConfirm" .lang}}</span>
    <span id="strBtnCancel">{{translate "tCancel" .lang}}</span>
    <span id="strBtnEdit">{{translate "tEdit" .lang}}</span>
    <span id="strAdd">{{translate "tAdd" .lang}}</span>
    <span id="strDelete">{{translate "tDelete" .lang}}</span>
    <span id="strSaved">{{translate "tSaved" .lang}}</span>
    <span id="strDeleteMsg">{{translate "tDeleteMsg" .lang}}</span>
    <span id="strPrompt">{{translate "tPrompt" .lang}}</span>
    <span id="strDeleted">{{translate "tDeleted" .lang}}</span>
    <span id="strDeleteMsgNotReversed">{{translate "tDeleteMsgNotReversed" .lang}}</span>
    <span id="strNoData">{{translate "tNoData" .lang}}</span>
</div>
{{end}}