body {
  background-color: white;
}

#loginbox {
  margin-top: 30px;
}

#loginbox > div:first-child {
  padding-bottom: 10px;
}

.iconmelon {
  display: block;
  margin: auto;
}

#loginForm > div {
  margin-bottom: 25px;
}

#loginForm > div:last-child {
  margin-top: 10px;
  margin-bottom: 10px;
}

#loginForm > input {
  width: 300px;
}

#btnLogin {
  border: none;
  background-color: #BE1E2D;
}

.panel {
  background-color: transparent;
}

.panel-body {
  padding-top: 30px;
  background-color: rgba(2555,255,255,.3);
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -2;
}

.iconmelon,
.im {
  position: relative;
  width: 240px;
  height: 95px;
  display: block;
  fill: #525151;
  margin-top: 30px;
}

.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-control{
  width: 100% !important;
}