{{template "header" .}}
<script src="/static/js/socket-io-1.3.7.js"></script>
<script src="/static/js/machineM.js?{{template "version"}}"></script>
<script>
    btnId = 'navBtnJob';
</script>
<div class="dataDiv">
    <div class="divFilterForm">
        <form id="filterForm" class="form-inline">
            <div class="form-group">
                <input id="name" name="name" class="form-control" type="text" placeholder="{{translate "tName" .lang}}" value="{{.filter.Name}}">
                <input id="type" name="type" class="form-control" type="text" placeholder="{{translate "tType" .lang}}" value="{{.filter.Type}}">
                <input id="department" name="department" class="form-control" type="text" placeholder="{{translate "tDepartment" .lang}}" value="{{.filter.Department}}">
                {{template "filterButtons" .}}
            </div>
        </form>
        <a href="/machineM/save" class="btn btn-primary">{{translate "tAdd" .lang}}</a>
    </div>
    <table id="dataTable" class="table" align="center">
        <thead>
        <tr>
            <th>{{translate "tMachineID" .lang}}</th>
            <th>{{translate "tName" .lang}}</th>
            <th>{{translate "tType" .lang}}</th>
            <th>{{translate "tDepartment" .lang}}</th>
            <th>{{translate "tStatus" .lang}}</th>
            <th>{{translate "tOperator" .lang}}</th>
            <th>{{translate "tCreated" .lang}}</th>
            <th></th>
        </tr>
        </thead>
        {{if .data}}
        {{range .data}}
        <tr>
            <td data-id="{{.Id}}">{{.Id}}</td>
            <td class="name">{{.Name}}</td>
            <td class="type">{{.Type}}</td>
            <td class="department">{{.Department}}</td>
            <td class="machineStatus">{{.MachineStatus.Name}}</td>
            <td class="workerId">{{.WorkerId}}</td>
            <td class="createdAt">{{dateTime24 .CreatedAt}}</td>
            <td>
                <a class="btn btn-primary" href="/machineM/save?id={{.Id}}">{{translate "tEdit" $.lang}}</a>
                <button class="btn btn-danger" onclick="remove(this, '/machineM', 'id', '{{.Id}}')">{{translate "tDelete" $.lang}}</button>
            </td>
        </tr>
        {{end}}
        {{else}}
        <tr id="emptyTr">
            <td class="text-center emptyTd">
                <h2>
                    {{translate "tNoData" .lang}}
                </h2>
            </td>
        </tr>
        {{end}}
    </table>
    {{if .data}}
        {{template "pagination" .}}
    {{end}}
</div>
{{template "footer"}}